@model Silownia.Models.TreningPersonalny
@{
    ViewBag.Title = "Trening personalny: usuń";
}
<h2>Czy na pewno chcesz usunąć trening klienta: @Model.Klient.imieNazwisko z masażystą @Model.Trener.imieNazwisko?</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="divDark">
        <div class="divInner">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Trener.imieNazwisko)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trener.imieNazwisko)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TreningStart)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TreningStart)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TreningStartGodzina)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TreningStartGodzina)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CzasTrwania)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CzasTrwania)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.kosztTreningu)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.kosztTreningu)
                </dd>
            </dl>
            <div>
                <input type="submit" value="Usuń" class="btn  btn-large btn-lg btn-block btn-danger" />
            </div>
        </div>
    </div>
}
@if (Request.UrlReferrer != null)
{
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="history.go(-1); return false;">powrót</button>
}