@model Silownia.Models.TreningPersonalny

@{
    ViewBag.Title = "Trening personalny: usuń";
}

<h2>Czy na pewno chcesz usunąć trening klienta: @Model.Klient.imieNazwisko z masażystą @Model.Trener.imieNazwisko?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trener.imieNazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trener.imieNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreningStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreningStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzasTrwania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasTrwania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kosztTreningu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kosztTreningu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Przejdź do listy treningów personalnych", "Index")
        </div>
    }
</div>
