@model Silownia.Models.TreningPersonalny

@{
    ViewBag.Title = "Trening personalny: szczegóły";
}

<h2>Szczegóły dotyczące wybranego treningu personalnego:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klient.imieNazwisko) Klienta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.imieNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trener.imieNazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trener.imieNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreningStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreningStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzasTrwania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasTrwania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trener.StawkaGodzinowa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trener.StawkaGodzinowa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kosztTreningu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kosztTreningu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy treningów personalnych", "Index")
</p>
