@model Silownia.ViewModel.DropDownListyViewModel
@{
   Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Silwnie-DropDown').change(function () {
            $.ajax({
                type: "GET",
                data: { SilkaId: $("#Silwnie-DropDown").val() },
                url: "@Url.Action("TrenerWSilowni", null, null, Request.Url.Scheme)",
                datatype: "json",
                success: function (data) {
                    var masazysta = "<select id='Trener-DropDownID'>";
                    masazysta = masazysta + '<option value="">wybierz trenera</option>';

                    for (var i = 0; i < data.length; i++) {
                        masazysta = masazysta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    masazysta = masazysta + '</select>';
                    $('#Trener-DropDownID').html(masazysta);
                }
            });
        });
    });
</script>

<div class="form-group">
    @Html.LabelFor(x => x.SilownieSelectLista, "Siłownia", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.SilownieSelectLista, Model.SilownieSelectLista, "wybierz siłownię", new { @id = "Silwnie-DropDown" })
        @Html.ValidationMessageFor(x => x.SilownieSelectLista)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.PracownikSelectLista, "Trener", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.PracownikSelectLista, new List<SelectListItem>(), "wybierz trenera", new { @id = "Trener-DropDownID" })
        @Html.ValidationMessageFor(x => x.PracownikSelectLista)
    </div>
</div>
