<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Silownie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

     
</head>
<body style="background-color: #707070; z-index: 0;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <div class="divider">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Sieć siłowni", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("O nas", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Klienci", "Index", "Klient")</li>

                    <li>@Html.ActionLink("Umowy", "Index", "Umowa")</li>
                    <li>@Html.ActionLink("Trenerzy", "Index", "Trener")</li>
                    <li>@Html.ActionLink("Recepcjoniści", "Index", "Recepcjonista")</li>
                    <li>@Html.ActionLink("Silownia", "Index", "Silownia")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
       
        @RenderBody()
       
@*    @Html.Partial("_Footer")*@
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/Karuzel.js")
    @Scripts.Render("~/scripts/Arrow.js")
    @RenderSection("scripts", required: false)
</body>
</html>
