<!DOCTYPE html>
<html>

<head>


    <title>@ViewBag.Title - Silownie</title>
    @{
        Layout = "";
    }

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link href="" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/HomeView/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/HomeView/css/grayscale.css")
    @Styles.Render("~/HomeView/css/bootstrap.min.css")
    @Styles.Render("~/HomeView/css/grayscale.css")

</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">PURE</span> MUSCLES
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>

                    <li>
                        <a class="page-scroll" href="#intro">GŁÓWNA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#oNas">O NAS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#TRENERZY">TRENERZY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#LOKALIZACJE">LOKALIZACJE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#KONTAKT">KONTAKT</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    @RenderBody()
</body>



</html>

@Scripts.Render("~/HomeView/js/jquery.js")
@Scripts.Render("~/HomeView/js/bootstrap.min.js")
@Scripts.Render("~/HomeView/js/jquery.easing.min.js")
@Scripts.Render("~/HomeView/js/grayscale.js")
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>


 