<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Silownie</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")

     
	<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
	<script src="http://cdn.kendostatic.com/2015.3.1111/js/jquery.min.js"></script>
	<script src="http://cdn.kendostatic.com/2015.3.1111/js/jszip.min.js"></script>
	<script src="http://cdn.kendostatic.com/2015.3.1111/js/kendo.all.min.js"></script>
	<script src="http://cdn.kendostatic.com/2015.3.1111/js/kendo.aspnetmvc.min.js"></script>
</head>
<body style="background-color: #707070; z-index: 0;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <div class="divider">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Sieć siłowni", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Klienci", "Index", "Klient")</li>

                    <li>@Html.ActionLink("Umowy", "Index", "Umowa")</li>
                    <li>@Html.ActionLink("Plan zajęć", "Index", "Zajecia")</li>
                    <li>@Html.ActionLink("Masaże", "Index", "Masaż")</li>
                    <li>@Html.ActionLink("Trenerzy", "Index", "Trener")</li>
                    <li>@Html.ActionLink("Recepcjoniści", "Index", "Recepcjonista")</li>
                    <li>@Html.ActionLink("Silownia", "Index", "Silownia")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
       
        @RenderBody()
       
    @Html.Partial("_Footer")
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/Karuzel.js")
    @Scripts.Render("~/scripts/Arrow.js")
    
    @RenderSection("scripts", required: false)
</body>
</html>
