@using Microsoft.AspNet.Identity
@if (Session["User"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        @if (Session["Auth"].ToString() == "Recepcjonista" | Session["Auth"].ToString() == "Administrator")
        {
        <li>@Html.ActionLink("Klienci", "Index", "Klient")</li>
        <li>@Html.ActionLink("Umowy", "Index", "Umowa")</li>
        <li>@Html.ActionLink("Trenerzy", "Index", "Trener")</li>
        <li>@Html.ActionLink("Masażyści", "Index", "Masazysta")</li>
        <li>@Html.ActionLink("Recepcjoniści", "Index", "Recepcjonista")</li>
        <li>@Html.ActionLink("Siłownie", "Index", "Silownia")</li>
        <li>@Html.ActionLink("Specjalizacje", "Index", "Specjalizacja")</li>
      @*<li>@Html.ActionLink("Sale", "Index", "Sala")</li>*@
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) 
    </ul>
}
