@model Silownia.Models.ZajeciaGrupowe

@{ int i = 0;}

@foreach (var item in Model.KlientZajeciaGrupowe)
{
       if(item.Klient.Mail == Session["User"].ToString())
       {  
          i++; 
       }
}
@if (i != 1)
        {
            <td>
                @Html.DisplayFor(model => model.Instruktor.imieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sala.Numer_sali)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sala.Silownia.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(model => model.TreningStart)
            </td>
            <td>
                @Html.DisplayFor(model => model.CzasTrwania)
            </td>
            <td>
                @Html.DisplayFor(model => model.NazwaTreningu)
            </td>
            <td>
                 @Html.DisplayFor(model => model.OpisTreningu)
            </td> 
            <td>
            <div class="btn-group">
            <button class="btn-default btn-lg" onclick="location.href='@Url.Action("Save", "ZapisZajeciaGrupowe", new { id = Model.TreningID })';return false;">zapisz się</button>
            <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "ZapisZajeciaGrupowe", new { id = Model.TreningID })';return false;">szczegóły</button>
            </div>
            </td>
        } 
