@model PagedList.PagedList<Silownia.Models.ZajeciaGrupowe>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Zajecia grupowe: index";
}
@Scripts.Render("~/Scripts/infoCzynnosc.js")
@if (ViewBag.Akcja != null)
{
    if (ViewBag.Akcja == AkcjaZapisEnum.DodanoZapis)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }

     if (ViewBag.Akcja == AkcjaZapisEnum.JuzZapis)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }

    if (ViewBag.Akcja == AkcjaZapisEnum.UsunietoZapis)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-danger">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }

    if (ViewBag.Akcja == AkcjaZapisEnum.NieDaSieZapis)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-danger">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }
}
<h2>Lista zajęć grupowych:</h2>
<div class="divDark">
    @using (Html.BeginForm())
    {
        @Html.Partial("KryteriaSzukania/_silownia")
        <br />
        <input type="submit" value="szukaj" class="btn btn-info" style="width:10%" />
        <br />
    }
</div>
  <div class="wrap">
        <img src="~/Content/ikony/ikona_treningGrupowy.png" width="90" height="90">    Treningi grupowe, na które jesteś zapisany
        <div class="" style="display:none">
           
     </div>
         <dl class="table-bordered" ,new style="color:#F15B4D">
                <dd>
                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.Label("Instruktor:")
                        </th>
                        <th>
                            @Html.Label("Sala:")
                        </th>   
                        <th>
                            @Html.Label("Siłownia:")
                        </th>
                          <th>
                            @Html.Label("Ilość osób:")
                        </th>
                         <th>
                            @Html.Label("Początek treningu:")
                        </th>
                        <th>
                            @Html.Label("Czas trwania treningu:")
                        </th>
                        <th>
                            @Html.Label("Nazwa treningu:")
                        </th>
                        <th>
                            @Html.Label("Opis treningu:")
                        </th>
                    </tr>
                    @foreach (var item in Model.Where(a => a.TreningStart.Day >= DateTime.Now.Day))
                    {
                        <tr>
                        @Html.Partial("_zajeciaZapisany", item)
                        </tr>
                    }
                </table>
                </dd>
          </dl>
</div>

  <div class="wrap">
        <img class="" src="~/Content/ikony/ikona_treningGrupowy.png" width="90" height="90">    Zapisz się również na inne dostępne zajęcia
        <div class="" style="display:none">
           
     </div>
         <dl class="table-bordered" ,new style="color:#F15B4D">
                @if (Model.Count > 0)
                {
                <dd>
                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.Label("Instruktor:")
                        </th>
                        <th>
                            @Html.Label("Sala:")
                        </th>
                        <th>
                            @Html.Label("Siłownia:")
                        </th>
                          <th>
                            @Html.Label("Ilość zapisanych osób:")
                        </th>
                         <th>
                            @Html.Label("Początek treningu:")
                        </th>
                        <th>
                            @Html.Label("Czas trwania treningu:")
                        </th>
                        <th>
                            @Html.Label("Nazwa treningu:")
                        </th>
                        <th>
                            @Html.Label("Opis treningu:")
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Where(a => a.TreningStart.Day >= DateTime.Now.Day))
                    {
                        <tr>
                           @Html.Partial("_zajeciaNiezapisany", item)   
                        </tr>
                    }
                </table>
                </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Nie ma zajęć, na które mógłbyś się zapisać", new { style = "color:#D11919" })
                    </dt>
                }
          </dl>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
    });
</script>
