@model Silownia.Models.Specjalizacja

@{
    ViewBag.Title = "Specjalizacja: dodaj";
}

<h2>Dodaj nową specjalizację:</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

@Html.ValidationSummary(true)

<div class="form-horizontal divDark">

    <div class="form-group">
        @Html.LabelFor(model => model.Nazwa, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nazwa)
            @Html.ValidationMessageFor(model => model.Nazwa)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Utwórz" class="btn btn-lg btn-large btn-success" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Specjalizacja")';return false;">Powrót do listy specjalizacji</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
