@model Silownia.Models.Specjalizacja

@{
    ViewBag.Title = "Specjalizacja: usuń";
}

<h2>Czy na pewno chcesz usunąć specjalizację @Model.Nazwa?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy specjalizacji", "Index")
        </div>
    }
</div>
