@model IEnumerable<Silownia.Models.Specjalizacja>

@{
    ViewBag.Title = "Specjalizacja: index";
}

<h2>Lista specjalizacji naszych trenerów</h2>

<p>
    @Html.ActionLink("Dodaj nową specjalizację", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.SpecjalizacjaID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.SpecjalizacjaID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.SpecjalizacjaID })
        </td>
    </tr>
}

</table>
