@model Silownia.Models.Adres

@{
    ViewBag.Title = "Adres: usuń";
}

<h2>Czy chcesz usunąć ten adres?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrBudynku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrBudynku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrLokalu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrLokalu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy adresów", "Index")
        </div>
    }
</div>
