@model IEnumerable<Silownia.Models.Adres>

@{
    ViewBag.Title = "Adres: index";
}

<h2>Lista adresów zapisanych w bazie:</h2>
<p>
    @Html.ActionLink("Dodaj nowy adres", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrBudynku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrLokalu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KodPocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrBudynku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrLokalu)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.AdresID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.AdresID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.AdresID })
        </td>
    </tr>
}

</table>
