@model Silownia.Models.Umowa
@{
    ViewBag.Title = "Umowa: dodaj";
}
<h2>Dodaj nową umowę</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal divDark">

        @Html.ValidationSummary(true)
        @*
                <div class="col-md-10">
                @Html.DropDownListFor(model => model.Silownia,
                  new SelectList(ViewBag.SilowniaList, "SilowniaID", "Nazwa"),
                  "Wybierz siłownię",
                  new { @class = "form-control", @onchange = "FillRecepcjonista()" })
            </div>
        *@

        <div class="form-group">
            @Html.LabelFor(model => model.SilowniaID, "Siłownia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SilowniaID", String.Empty)
                @Html.ValidationMessageFor(model => model.SilowniaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecepcjonistaID, "Recepcjonista", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RecepcjonistaID", String.Empty)
                @Html.ValidationMessageFor(model => model.RecepcjonistaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataPodpisania, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataPodpisania)
                @Html.ValidationMessageFor(model => model.DataPodpisania)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataZakonczenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataZakonczenia)
                @Html.ValidationMessageFor(model => model.DataZakonczenia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cena, new { @type = "number" })
                @Html.ValidationMessageFor(model => model.Cena)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Zdjęcie", new { @class = "control-label col-md-2" })
            <div class="wrap">
                <img class="show_hide" src="~/Content/ikony/ikona_kamera.png" width="48" height="48">
                <div class="slidingDiv" style="display:none">
                    @Html.Action("Index", "Photo", new { osoba = @ViewBag.Osoba })
                </div>
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Utwórz" class="btn btn-lg btn-large btn-success" />
                </div>
            </div>


            @*@Html.Partial("zrobZdjecie")*@

            @if (Request.UrlReferrer != null)
        {
                <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="history.go(-1); return false;">powrót</button>
        }

            @if (TempData["msg"] != null)
        { @Html.Raw(TempData["msg"]) }

            @if (ViewBag.Osoba != null)
        {
                <div class="table-bordered">
                    @Html.Action("Details", "Klient", new { id = ViewBag.Osoba.OsobaID })
                </div>
        }

        </div>


            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")


                <script>
                    function FillCity() {
                        var silowniaID = $('#Silownia').val();
                        $.ajax({
                            url: '/Recepcjonista/FillRecepcjonista',
                            type: "GET",
                            dataType: "JSON",
                            data: { Silownia: SilowniaID },
                            success: function (recepcjonisci) {
                                $("#Recepcjonista").html(""); // clear before appending new list
                                $.each(recepcjonisci, function (i, recepcjonista) {
                                    $("#Recepcjonista").append(
                                        $('<option></option>').val(recepcjonista.recepcjonistaID).html(recepcjonista.imieNazwisko));
                                });
                            }
                        });
                    }
                </script>
            }

        



