@model Silownia.Models.Umowa
@{
    ViewBag.Title = "Umowa: dodaj";
}
<h2>Dodaj nową umowę</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal divDark">

        @Html.ValidationSummary(true)
   
        <div class="form-group">
            <div id="Silownia-DropdownID col-md-10">
                @Html.Action("ListaSilowni")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataPodpisania, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataPodpisania)
                @Html.ValidationMessageFor(model => model.DataPodpisania)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataZakonczenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataZakonczenia)
                @Html.ValidationMessageFor(model => model.DataZakonczenia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cena, new { @type = "number" })
                @Html.ValidationMessageFor(model => model.Cena)
            </div>
        </div>

        
            <div class="form-group">
            @Html.Label("Zrób zdjęcie", new { @class = "control-label col-md-2" })
            <div class="wrap">
                <img class="Slide" src="~/Content/ikony/ikona_kamera.png" width="48" height="48">
                <div class="slidinggDiv" style="display:none">
                    @Html.Action("Index", "Photo", new { osoba = @ViewBag.Osoba })
                </div>
            </div>
             </div>

        <div class="form-group">
            @Html.Label("Zapisane zdjęcie", new { @class = "control-label col-md-2" })
            <div class="wrap">
                <img class="Slide" src="~/Content/ikony/ikona_ZapisaneZdjecie.png" width="48" height="48" onclick="javascript:pokazZdjecie()">
                <div class="slidinggDiv" id="Zdjecie" style="display:none">
                </div>
            </div>
        </div>


      


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-lg btn-large btn-success" />
            </div>
        </div>


        @*@Html.Partial("zrobZdjecie")*@



        

        @if (TempData["msg"] != null)
        { @Html.Raw(TempData["msg"]) }

        @if (ViewBag.Osoba != null)
        {
            <div class="table-bordered">
                @Html.Action("Details", "Klient", new { id = ViewBag.Osoba.OsobaID })
            </div>
        }

    </div>
    if (Request.UrlReferrer != null)
    {
        <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="history.go(-1); return false;">powrót</button>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
    function FillCity() {
        var silowniaID = $('#Silownia').val();
        $.ajax({
            url: '/Recepcjonista/FillRecepcjonista',
            type: "GET",
            dataType: "JSON",
            data: { Silownia: SilowniaID },
            success: function (recepcjonisci) {
                $("#Recepcjonista").html(""); // clear before appending new list
                $.each(recepcjonisci, function (i, recepcjonista) {
                    $("#Recepcjonista").append(
                        $('<option></option>').val(recepcjonista.recepcjonistaID).html(recepcjonista.imieNazwisko));
                });
            }
        });
    }

     function pokazZdjecie() {
        var MiejsceNaZdjecie = document.getElementById("Zdjecie");
  
        $.ajax({
            url: '@Url.Action("PokazZapisaneZdjecie", "Photo", new { idOsoby = @ViewBag.Osoba.OsobaID })',
            type: "GET",
            dataType: "html",
            success: function (zdjecie) {
                $(MiejsceNaZdjecie).html(""); // clear before appending new list
                $(MiejsceNaZdjecie).html(zdjecie)
            }
        });


    };
        pokazZdjecie(); //http://stackoverflow.com/questions/20635489/javascript-function-sometimes-called-sometimes-not 
    </script>
    <script>
        $('img.Slide').on("click", function () {
            $('div.slidinggDiv').stop().slideUp('fast');
            $('div.slidinggDivON').stop().slideUp('fast');
            $(this).next('div.slidinggDiv').stop().slideToggle('fast');
            $(this).next('div.slidinggDivON').stop().slideToggle('fast');
        });

    </script>
}





