@model Silownia.Models.Umowa

@{
    ViewBag.Title = "Umowa: szczegóły";
}

<h2>Szczegóły dotyczące wybranej umowy:</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Silownia.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silownia.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPodpisania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPodpisania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZakonczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZakonczenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.UmowaID }) |
    @Html.ActionLink("Powrót do listy umów", "Index")
</p>
