@model PagedList.PagedList<Silownia.Models.Umowa>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Umowy: index";
}
@Scripts.Render("~/Scripts/infoCzynnosc.js")
@if (ViewBag.Akcja != null)
{
    if (ViewBag.Akcja == AkcjaEnumUmowa.DodanoUmowe)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja) @ViewBag.info</h4>
            <br />
        </div>
    }

    if (ViewBag.Akcja == AkcjaEnumUmowa.UsunietoUmowe)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-danger">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja) @ViewBag.info</h4>
            <br />
        </div>
    }
}
<h2>Kontrakty z klientami podpisane w naszej sieci</h2>
<div class="divDark">
    @using (Html.BeginForm())
    {

        @Html.Partial("KryteriaSzukania/_imieNazwisko")
        @Html.Partial("KryteriaSzukania/_silownia")
        <br />
        <input type="submit" value="szukaj" class="btn btn-info" style="width:10%" />
        <br />
    }

</div>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.Label("Siłownia:")
        </th>
        <th>
            @Html.Label("Klient:")
        </th>
        <th>
            @Html.Label("Data początku umowy:")
        </th>
        <th>
            @Html.Label("Data końca umowy:")
        </th>
        <th>
            @Html.Label("Opłata miesięczna:")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Silownia.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.imieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPodpisania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakonczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena) zł
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "Masaz", new { id = item.UmowaID })';return false;">szczegóły</button>
                    <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Masaz", new { id = item.UmowaID })';return false;">usuń</button>
                </div>
            </td>
        </tr>
    }
</table>

<div class="center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize, imieNazwisko = ViewBag.srchImieNazwisko }))
    Wyświetlam od @Model.FirstItemOnPage do @Model.LastItemOnPage z @Model.TotalItemCount rekordów Umowa
</div>
