@model IEnumerable<Silownia.Models.Umowa>

@{
    ViewBag.Title = "Umowy: index";
}

<h2>Lista umów podpisanych w naszej sieci</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Silownia.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPodpisania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZakonczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Silownia.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPodpisania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZakonczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.UmowaID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.UmowaID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.UmowaID })
        </td>
    </tr>
}

</table>
