@model Silownia.ViewModel.DropDownListyViewModel
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Silwnie-DropDown').change(function () {
            $.ajax({
                type: "GET",
                data: { SilkaId: $("#Silwnie-DropDown").val() },
                url: "@Url.Action("RecepcjonistaWSilowni", null, null, Request.Url.Scheme)",
                datatype: "json",
                success: function (data) {
                    var recepcjonista = "<select id='Recepcjonista-DropDownID'>";
                    recepcjonista = recepcjonista + '<option value="">Wybierz Recepcjoniste</option>';

                    for (var i = 0; i < data.length; i++) {
                        recepcjonista = recepcjonista + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    recepcjonista = recepcjonista + '</select>';
                    $('#Recepcjonista-DropDownID').html(recepcjonista);
                }
            });
        });
    });
</script>

<div class="form-group">
    @Html.LabelFor(x => x.SilownieSelectLista, "Siłownia", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.SilownieSelectLista, Model.SilownieSelectLista, "Wybierz siłownie", new { @id = "Silwnie-DropDown" })
        @Html.ValidationMessageFor(x => x.SilownieSelectLista)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.RecepcjonistaSelectLista, "Recepcjonista", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.RecepcjonistaSelectLista, new List<SelectListItem>(), "Wybierz Recepcjoniste", new { @id = "Recepcjonista-DropDownID" })
        @Html.ValidationMessageFor(x => x.RecepcjonistaSelectLista)
    </div>
</div>
