@model Silownia.Models.Masaz

@{
    ViewBag.Title = "Masaż: dodaj";
}

<h2>Dodaj nowy masaż</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <table class="table">
            <tr>
                <th>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MasazystaID, "Masażysta", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MasazystaID", String.Empty)
                            @Html.ValidationMessageFor(model => model.MasazystaID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataMasazu, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataMasazu)
                            @Html.ValidationMessageFor(model => model.DataMasazu)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CzasTrwania, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CzasTrwania)
                            @Html.ValidationMessageFor(model => model.CzasTrwania)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Utwórz" class="btn btn-default" />
                        </div>
                    </div>
                </th>

                @if (TempData["msg"] != null)
                { @Html.Raw(TempData["msg"]) }

                <th>
                    @if (ViewBag.Osoba != null)
                    {
                        <div class="table-bordered">
                            @Html.Action("Details", "Klient", new { id = ViewBag.Osoba.OsobaID })
                        </div>
                    }
                </th>

            </tr>
        </table>
    </div>


}
<div>
    @Html.ActionLink("Przejdź do listy masaży", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
