@model Silownia.Models.Masaz

@{
    ViewBag.Title = "Masaż: szczegóły";
}

<h2>Szczegóły dotyczące wybranego masażu:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Masazysta.imieNazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masazysta.imieNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMasazu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMasazu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzasTrwania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasTrwania)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.MasazID }) |
    @Html.ActionLink("Powrót do listy masaży", "Index")
</p>
