@model Silownia.Models.Masaz
@{
    ViewBag.Title = "Masaż: szczegóły";
}
<h2>Szczegóły dotyczące wybranego masażu</h2>

<div class="divDark">
    <div class="divInner">
        <dl class="dl-horizontal">
            <dt >
               Klient
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Klient.imieNazwisko)
            </dd>
            <dt>
                Masażysta
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Masazysta.imieNazwisko)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataMasazu)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataMasazu)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MasazStart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MasazStart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CzasTrwania)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CzasTrwania) minut
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.kosztMasazu)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.kosztMasazu) zł
            </dd>
        </dl>
    </div>
</div>

<div>
    @if (Request.UrlReferrer != null)
    {
        <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="history.go(-1); return false;">powrót</button>
    }
</div>

<div>

    <div class="wrap">
        <img class="show_hide" src="~/Content/ikony/persony/ikona_klient.png" width="90" height="90">

        <div class="slidingDiv" style="display:none">
            <dl , class="table-bordered" ,new style="color:#76C3D7">
                <dt>
                    @Html.Label("Klient", new { style = "color:#76C3D7" })
                </dt>

                    <dd>
                        <table class="table">
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Adres e-mail</th>
                                <th>Numer telefonu</th>
                                <th></th>
                            </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.Klient.imieNazwisko)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Klient.Mail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Klient.NrTelefonu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Klient.ZdjecieProfilowe)
                                    </td>
                                </tr>

                        </table>
                    </dd>
            </dl>
        </div>
    </div>

    <div class="wrap">
        <img class="show_hide" src="~/Content/ikony/persony/ikona_masazysta.png" width="90" height="90">

        <div class="slidingDiv" style="display:none">
            <dl , class="table-bordered" ,new style="color:#B8C932">
                <dt>
                    @Html.Label("Masażysta", new { style = "color:#B8C932" })
                </dt>

                <dd>
                    <table class="table">
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Numer telefonu</th>
                            <th>Stawka godzinowa</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Masazysta.imieNazwisko)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Masazysta.NrTelefonu)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Masazysta.StawkaGodzinowa) (pln)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Klient.ZdjecieProfilowe)
                            </td>
                        </tr>

                    </table>
                </dd>
            </dl>
        </div>
    </div>

</div>


<style type="text/cs">
    div.wrap {
        float: left;
        width: 500px;
    }

    img.show_hide {
        margin-left: auto;
        margin-right: auto;
    }

    .slidingDiv {
        width: 500px;
        display: none;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
    });
</script>
