@model Silownia.Models.Klient

@{
    ViewBag.Title = "Create";
}


<h2>Nowy klient</h2>
 
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
         
        <h4>Klient</h4>
        <hr />
        @Html.ValidationSummary(true)

 
        <div class="form-group">
            @Html.LabelFor(model => model.Imie,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie)
                @Html.ValidationMessageFor(model => model.Imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwisko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwisko)
                @Html.ValidationMessageFor(model => model.Nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataUrodzenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataUrodzenia)
                @Html.ValidationMessageFor(model => model.DataUrodzenia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail)
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NrTelefonu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTelefonu)
                @Html.ValidationMessageFor(model => model.NrTelefonu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-success" />
                <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do klientów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
