@model Silownia.Models.Klient
@{
    ViewBag.Title = "Klient: szczegóły";
}

<h2 class="textCenter">szczegóły dotyczące wybranego klienta</h2>
<button class="btn btn-large btn-block btn-primary btn-lg btn-success" onclick="location.href='@Url.Action("Edit", "Klient", new { id = Model.OsobaID })';return false;">edytuj</button>
<div class="divDark">
    <div class="divInner">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Imie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Imie)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nazwisko)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataUrodzenia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataUrodzenia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NrTelefonu)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NrTelefonu)
            </dd>
          @if (Model.ZdjecieProfilowe != null)
          {
                <dt>
                    @Html.DisplayName("Zapisane zdjęcie")
                </dt>
         
                <dd>
                
                    <div class="form-group">
                        <div class="wrap">
                            <img class="show_hide" src="~/Content/ikony/ikona_ZapisaneZdjecie.png" width="48" height="48" onclick="javascript:pokazZdjecie()">
                            <div class="slidingDiv" id="Zdjecie" style="display:none">
                            </div>
                        </div>
                    </div>
                
                </dd>
          }
           
            
            @if (Model.Adres != null)
            {

                <dt>
                    @Html.DisplayNameFor(model => model.Adres.Miasto)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.Miasto)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres.Ulica)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.Ulica)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres.NrBudynku)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.NrBudynku)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres.NrLokalu)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.NrLokalu)
                </dd>

            }
        </dl>
        @if (Model.Adres != null)
        {
            <button class="btn-default btn-lg btn-block" onclick="location.href='@Url.Action("Edit", "Adres", new { id = Model.Adres.AdresID })';return false;">zmień dane adresowe</button>
            <button class="btn-danger btn-lg btn-block" onclick="location.href='@Url.Action("Delete", "Adres", new { id = Model.Adres.AdresID })';return false;">usuń adres</button>
        }
    </div>
</div>
<div>
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Klient")';return false;">lista klientów</button>
</div>
<div>

    <div class="wrap">
        <img class="show_hide" src="/Content/ikony/ikona_umowa.png" width="90" height="90">

        <div class="slidingDiv" style="display:none">
            <dl , class="table-bordered" ,new style="color:#4039f9">
                <dt>
                    @Html.Label("Umowy", new { style = "color:#4039f9" })
                </dt>
                @if (Model.Umowy.Count > 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Siłownia</th>
                                <th>Data podpisania</th>
                                <th>Data zakończenia</th>
                                <th>Opłata za miesiąc</th>
                            </tr>
                            @foreach (var item in Model.Umowy)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Silownia.Nazwa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataPodpisania)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataZakonczenia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cena) zł
                                    </td>    
                                    <td>
                                        @* trzeba dorobić tutaj treningi grupowe po wprowadzeniu ich do aplikacji*@
                                        @if (Model.Masaze.Count == 0 && Model.TreningiPersonalne.Count == 0)
                                        {
                                            <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Umowa", new { id = item.UmowaID})';return false;">usuń</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Brak umów", new { style = "color:#D11919" })
                    </dt>
                }
            </dl>
        </div>
    </div>
    <div class="wrap">
        <img class="show_hide" src="/Content/ikony/ikona_masaz.png" width="90" height="90">
        <div class="slidingDiv" style="display:none">
            <dl class="table-bordered" ,new style="color:#B8C932">
                <dt>
                    @Html.Label("Masaże", new { style = "color:#B8C932" })
                </dt>
                @if (Model.Masaze.Count > 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Masażysta</th>
                                <th>Data masażu</th>
                                <th>Godzina</th>
                                <th>Czas trwania</th>
                                <th>Całkowity koszt</th>
                             
                                <th></th>
                            </tr>
                            @foreach (var item in Model.Masaze)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Masazysta.imieNazwisko)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataMasazu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasazStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CzasTrwania)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.kosztMasazu) zł
                                    </td>
                                 
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "Masaz", new { id = item.MasazID })';return false;">szczegóły</button>
                                            <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Masaz", new { id = item.MasazID})';return false;">usuń</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Brak masaży", new { style = "color:#D11919" })
                    </dt>
                }
            </dl>
        </div>
    </div>
    <div class="wrap">
        <img class="show_hide" src="~/Content/ikony/ikona_treningPersonalny.png" width="90" height="90">
        <div class="slidingDiv" style="display:none">
            <dl class="table-bordered" ,new style="color:#782D86">
                <dt>
                    @Html.Label("Treningi personalne", new { style = "color:#782D86" })
                </dt>
                @if (Model.TreningiPersonalne.Count > 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Trener</th>
                                <th>Fokus treningu</th>
                                <th>Data treningu</th>
                                <th>Godzina</th>
                                <th>Czas trwania</th>
                                <th>Całkowity koszt</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model.TreningiPersonalne)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Trener.imieNazwisko)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Trener.Specjalizacja.Nazwa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreningStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreningStartGodzina)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CzasTrwania)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.kosztTreningu) zł
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "TreningPersonalny", new { id = item.TreningID })';return false;">szczegóły</button>
                                            <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "TreningPersonalny", new { id = item.TreningID })';return false;">usuń</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Brak treningów", new { style = "color:#D11919" })
                    </dt>
                }
            </dl>
        </div>
    </div>
    <div class="wrap">
        <img class="show_hide" src="~/Content/ikony/ikona_treningGrupowy.png" width="90" height="90">
        <div class="slidingDiv" style="display:none">
            <dl class="table-bordered" ,new style="color:#F15B4D">
                <dt>
                    @Html.Label("Treningi grupowe", new { style = "color:#F15B4D" })
                </dt>
                @if (Model.KlienciTreningiGrupowe.Count > 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Fokus treningu</th>
                                <th>Opis treningu</th>
                                <th>Instruktor prowadzący</th>
                                <th>Sala</th>
                                <th>Czas trwania</th>
                                <th>Data treningu</th>
                                <th>Ilosc osób</th>
                            </tr>
                            @foreach (var item in Model.KlienciTreningiGrupowe)
                            {
                             <tr>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.NazwaTreningu)</td>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.OpisTreningu)</td>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.Instruktor.imieNazwisko)</td>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.Sala.Numer_sali)</td>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.CzasTrwania)</td> 
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.TreningStart)</td>
                                    <td>@Html.DisplayFor(model => item.ZajeciaGrupowe.KlientZajeciaGrupowe.Count)</td>
                            </tr>
                            }
                        </table>
                    </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Brak treningów grupowych", new { style = "color:#D11919" })
                    </dt>
                }
            </dl>
        </div>
    </div>

</div>
<style type="text/cs">
    div.wrap {
        float: left;
        width: 500px;
    }

    img.show_hide {
        margin-left: auto;
        margin-right: auto;
    }

    .slidingDiv {
        width: 500px;
        display: none;
    }
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
    });
</script>
<script>
    function pokazZdjecie() {
        var MiejsceNaZdjecie = document.getElementById("Zdjecie");

        $.ajax({
            url: '@Url.Action("PokazZapisaneZdjecie", "Photo", new { idOsoby = @Model.OsobaID})',
            type: "GET",
            dataType: "html",
            success: function (zdjecie) {
                $(MiejsceNaZdjecie).html(""); // clear before appending new list
                $(MiejsceNaZdjecie).html(zdjecie)
            }
        });

    };
</script>