@model Silownia.Models.Klient

@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Klient</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OsobaID)

        <div class="form-group">
            @Html.LabelFor(model => model.Imie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie)
                @Html.ValidationMessageFor(model => model.Imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwisko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwisko)
                @Html.ValidationMessageFor(model => model.Nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataUrodzenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataUrodzenia)
                @Html.ValidationMessageFor(model => model.DataUrodzenia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail)
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NrTelefonu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTelefonu)
                @Html.ValidationMessageFor(model => model.NrTelefonu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy klientów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
