@model PagedList.PagedList<Silownia.Models.ZajeciaGrupowe>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Zajecia grupowe: index";
}
@Scripts.Render("~/Scripts/infoCzynnosc.js")
<h2>Lista zajęć grupowych zapisanych w naszej bazie:</h2>

<button class="btn btn-large btn-block btn-success btn-lg" onclick="location.href='@Url.Action("Create", "ZajeciaGrup")';return false;">dodaj nowe zajęcia</button>
<div class="divDark">
    @using (Html.BeginForm())
    {
        @Html.Partial("KryteriaSzukania/_silownia")
        @Html.Partial("KryteriaSzukania/_tylkoPrzyszlosc")
        <br />
        <input type="submit" value="szukaj" class="btn btn-info" style="width:10%" />
        <br />
    }
</div>
<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.Label("Instruktor:")
        </th>
        <th>
            @Html.Label("Sala:")
        </th>
        <th>
            @Html.Label("Początek treningu:")
        </th>
        <th>
            @Html.Label("Czas trwania treningu:")
        </th>
        <th>
            @Html.Label("Nazwa treningu:")
        </th>
        <th>
            @Html.Label("Opis treningu:")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instruktor.imieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Numer_sali)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreningStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzasTrwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaTreningu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisTreningu)
            </td>
            <td>
                <div class="btn-group">
                    @*
                        <button class="btn-default btn-lg" onclick="location.href='@Url.Action("Edit", "ZajeciaGrup", new { id = item.TreningID })';return false;">edytuj</button>
                    *@

                    <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "ZajeciaGrup", new { id = item.TreningID })';return false;">szczegóły</button>
                    <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "ZajeciaGrup", new { id = item.TreningID })';return false;">usuń</button>
                </div>
            </td>
        </tr>
    }
</table>

