@model Silownia.Models.Konserwator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/infoCzynnosc.js")
@if (ViewBag.Akcja != null)
{
    if (ViewBag.Akcja != AkcjaEnumKonserwacja.Brak)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }

}
<html>
<body>
    @* Zdjecie *@
    <div class="col-xs-2" style="width:300px;height:380px;">
        <img src="~/Content/ikony/persony/ikona_konserwator.png">
    </div>
    @* Dane masażysty *@
    <div class="col-xs-3" style="border:solid; height:450px">
        <div style="text-align:right">DANE PERSONALNE</div>
        <h4>Imię:</h4><h3 style="color:aquamarine">@Model.Imie</h3>
        <br />
        <h4>Nazwisko:</h4><h3 style="color:aquamarine">@Model.Nazwisko</h3>
        <br />
        <h4>Data urodzenia:</h4><h3 style="color:aquamarine">@Model.DataUrodzenia.ToShortDateString()</h3>
        <br />
        <h4>Numer kontaktowy:</h4><h3 style="color:aquamarine">@Model.NrTelefonu</h3>
        <br />
    </div>
    @* Siłownia *@
    <div class="col-xs-4" style="border:solid; height:450px; min-width:340px;">
        <div style="text-align:right">SIŁOWNIA</div>
        <h4>Nazwa siłowni:</h4><h3 style="color:aquamarine">@Model.Silownia.Nazwa</h3>
        <br />
        <h4>Info:</h4><h3 style="color:aquamarine">@Model.Silownia.infoDodatkowe</h3>
        <br />
        <h4>Numer kontaktowy:</h4><h3 style="color:aquamarine">@Model.Silownia.NrTelefonu</h3>
        <br />
        <h4>Adres:</h4><h3 style="color:aquamarine">@Model.Silownia.Adres.Miasto, @Model.Silownia.Adres.Ulica @Model.Silownia.Adres.NrBudynku / @Model.Silownia.Adres.NrLokalu</h3>
        <br />
    </div>
    @* Szczegóły kontraktu *@
    <div class="col-xs-2" style="border:solid; width:300px; height:450px;">
        <div style="text-align:right">UMOWA Z PRACODAWCĄ</div>
        <h4>Zatrudnienie od:</h4><h3 style="color:aquamarine">@Model.DataZatrudnienia.ToShortDateString()</h3>
        <br />
        <h4>Pensja podstawowa:</h4><h3 style="color:aquamarine">@Model.Pensja zł</h3>
        <br />
    </div>
    @* Najnowsza konserwacja *@
    <div class="col-xs-2" style="border: solid; width:300px; height:450px">
        <div style="text-align:right">OSTATNIO ZGŁOSZONA KONSERWACJA</div>
        @if (@Model.Konserwacje.FirstOrDefault() != null)
        {
            <h4>Siłownia:</h4><h3 style="color:aquamarine">@Model.Konserwacje.Last().Sprzet.Sala.Silownia.Nazwa</h3>
            <br />
            <h4>Sala:</h4><h3 style="color:aquamarine">@Model.Konserwacje.Last().Sprzet.Sala.Numer_sali</h3>
            <br />
            <h4>Sprzęt:</h4><h3 style="color:aquamarine">@Model.Konserwacje.Last().Sprzet.Nazwa</h3>
            <br />
            <h4>Opis usterki:</h4><h3 style="color:aquamarine">@Model.Konserwacje.Last().Opis_usterki</h3>
            <br />
        }
        else
        {
            <h3 style="color:palevioletred">BRAK</h3>
        }

    </div>
    @* Moje konserwacje *@
    <div class="col-xs-2" style=" width:1000px; height:320px">
        <h3 style="text-align:center">Moje konserwacje</h3>
        @* Konserwacje *@
        <div class="wrap">
            <img class="show_hide" src="/Content/ikony/ikona_konserwacja.png" width="90" height="90">

            <div class="slidingDivON">
                <dl , class="table-bordered" ,new style="color:#f1c40f">
                    <dt>
                        @Html.Label("Zgłoszone naprawy", new { style = "color:#f1c40f" })
                    </dt>
                    @if (Model.Konserwacje.Count > 0)
                    {
                        <dd>
                            <table class="table">
                                <tr>
                                    <th>Sprzęt</th>
                                    <th>Sala w siłowni</th>
                                    <th>Data zgłoszenia</th>
                                    <th>Data zakończenia naprawy</th>
                                    <th>Opis usterki</th>
                                </tr>
                                @foreach (var item in Model.Konserwacje.Where(k => k.Status == "przyjęta"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sprzet.Nazwa)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sprzet.Sala.Rodzaj)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data_zgłoszenia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data_naprawy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Opis_usterki)
                                        </td>
                                        <td>
                                            <button class="btn-success btn-small" onclick="location.href='@Url.Action("PrzyjmijKonserwacje", "KonserwatorView", new { id = item.KonserwacjaID })';return false;">Przyjmij</button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </dd>
                    }
                    else
                    {
                        <dt>
                            @Html.Label("Brak zleconych napraw", new { style = "color:#D11919" })
                        </dt>
                    }
                </dl>
            </div>
        </div>
        <div class="wrap">
            <img class="show_hide" src="~/Content/ikony/ikona_konserwacjaOngoing.png" width="90" height="90">

            <div class="slidingDivON">
                <dl , class="table-bordered" ,new style="color:#f1c40f">
                    <dt>
                        @Html.Label("Trwające naprawy", new { style = "color:#f1c40f" })
                    </dt>
                    @if (Model.Konserwacje.Count > 0)
                    {
                        <dd>
                            <table class="table">
                                <tr>
                                    <th>Sprzęt</th>
                                    <th>Sala w siłowni</th>
                                    <th>Data zgłoszenia</th>
                                    <th>Data zakończenia naprawy</th>
                                    <th>Opis usterki</th>
                                </tr>
                                @foreach (var item in Model.Konserwacje.Where(k => k.Status == "w naprawie"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sprzet.Nazwa)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sprzet.Sala.Rodzaj)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data_zgłoszenia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data_naprawy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Opis_usterki)
                                        </td>
                                        <td>
                                            <button class="btn-danger btn-small" onclick="location.href='@Url.Action("ZamknijKonserwacje", "KonserwatorView", new { id = item.KonserwacjaID })';return false;">Zakończ</button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </dd>
                    }
                    else
                    {
                        <dt>
                            @Html.Label("Brak zleconych napraw", new { style = "color:#D11919" })
                        </dt>
                    }
                </dl>
            </div>
        </div>
    </div>
</body>
</html>

<style type="text/cs">
    div.wrap {
        float: left;
        width: 500px;
    }

    img.show_hide {
        margin-left: auto;
        margin-right: auto;
    }

    .slidingDiv {
        width: 500px;
        display: none;
    }

    .slidingDivON {
        width: 500px;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $('div.slidingDivON').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
        $(this).next('div.slidingDivON').stop().slideToggle('fast');
    });
</script>