@model Silownia.Models.Silownia
@{
    ViewBag.Title = "Siłownia: dodaj";
}
<h2>Dodaj nową siłownię</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="form-horizontal divDark">

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwa)
                @Html.ValidationMessageFor(model => model.Nazwa)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GodzinaOtwarcia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GodzinaOtwarcia)
                @Html.ValidationMessageFor(model => model.GodzinaOtwarcia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GodzinaZamkniecia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GodzinaZamkniecia)
                @Html.ValidationMessageFor(model => model.GodzinaZamkniecia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Powierzchnia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Powierzchnia)
                @Html.ValidationMessageFor(model => model.Powierzchnia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrTelefonu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTelefonu)
                @Html.ValidationMessageFor(model => model.NrTelefonu)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DodatkoweInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DodatkoweInfo)
                @Html.ValidationMessageFor(model => model.DodatkoweInfo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-lg btn-large btn-success" />
            </div>
        </div>
    </div>
}
<div>
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Trener")';return false;">Powrót do listy trenerów</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}