@model IEnumerable<Silownia.Models.Silownia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaOtwarcia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaZamkniecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Powierzchnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaOtwarcia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaZamkniecia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Powierzchnia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrTelefonu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SilowniaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SilowniaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SilowniaID })
        </td>
        <td>
            @if (item.Adres == null)
            {
                @Html.ActionLink("adres", "Create", "Adres", new { id = item.SilowniaID, komu = KomuAdres.Silownia },
                           new { @class = "adresPic" })
            }
        </td>

    </tr>
}

</table>
