@model IEnumerable<Silownia.Models.Silownia>
@{
    ViewBag.Title = "Siłownie: index";
}
<h2>Lista siłowni w naszej sieci:</h2>
<button class="btn btn-large btn-block btn-success btn-lg" onclick="location.href='@Url.Action("Create", "Silownia")';return false;">dodaj nową siłownię</button>
<div class="divDark">
    @using (Html.BeginForm())
    {
        @Html.Partial("KryteriaSzukania/_miasto")
        <br />
        <input type="submit" value="szukaj" class="btn btn-info" style="width:10%" />
        <br />
    }
</div>
<table class="table table-hover table-condensed ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaOtwarcia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaZamkniecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Powierzchnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodzinaOtwarcia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodzinaZamkniecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Powierzchnia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefonu)
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn-default btn-lg" onclick="location.href='@Url.Action("Edit", "Silownia", new { id = item.SilowniaID })';return false;">edytuj</button>
                    <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "Silownia", new { id = item.SilowniaID })';return false;">szczegóły</button>
                    <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Silownia", new { id = item.SilowniaID })';return false;">usuń</button>
                </div>
            </td>
            <td>
                @if (item.Adres == null)
                {
                    @Html.ActionLink("adres", "Create", "Adres", new { id = item.SilowniaID, komu = KomuAdres.Silownia },
                           new { @class = "adresPic" })
                }
            </td>
        </tr>
    }
</table>
