@model Silownia.Models.Recepcjonista

@{
    ViewBag.Title = "Recepcjonista: szczegóły";
}

<h2>Szczegóły dotyczące wybranego recepcjonisty</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUrodzenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZatrudnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZatrudnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pensja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pensja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Silownia.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silownia.Nazwa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.OsobaID }) |
    @Html.ActionLink("Przejdź do listy recepcjonistów", "Index")
</p>
