@model Silownia.Models.Recepcjonista
@{
    ViewBag.Title = "Recepcjonista: szczegóły";
}
<h2>Szczegóły dotyczące wybranego recepcjonisty</h2>
<button class="btn btn-large btn-block btn-primary btn-lg btn-success" onclick="location.href='@Url.Action("Edit", "Recepcjonista", new { id = Model.OsobaID })';return false;">edytuj</button>
<div class="divDark">
    <div class="divInner">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Imie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Imie)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nazwisko)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataUrodzenia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataUrodzenia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pesel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pesel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NrTelefonu)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NrTelefonu)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataZatrudnienia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataZatrudnienia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pensja)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pensja) zł
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Silownia.Nazwa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Silownia.Nazwa) zł
            </dd>
        </dl>
    </div>
</div>
<div>
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Recepcjonista")';return false;">lista recepcjonistów</button>
</div>

<div>

    <div class="wrap">
        <img class="show_hide" src="~/Content/ikony/silownia/ikona_silownia.png" width="90" height="90">

        <div class="slidingDiv" style="display:none">
            <dl , class="table-bordered" ,new style="color:#5BABD5">
                <dt>
                    @Html.Label("Siłownia", new { style = "color:#5BABD5" })
                </dt>

                <dd>
                    <table class="table">
                        <tr>
                            <th>Nazwa siłowni</th>
                            <th>Adres e-mail</th>
                            <th>Numer telefonu</th>
                            <th>Miasto</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Silownia.Nazwa)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Silownia.infoDodatkowe)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Silownia.NrTelefonu)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Silownia.Adres.Miasto)
                            </td>
                        </tr>

                    </table>
                </dd>
            </dl>
        </div>
    </div>

    <div class="wrap">
        <img class="show_hide" src="/Content/ikony/ikona_umowa.png" width="90" height="90">

        <div class="slidingDiv" style="display:none">
            <dl , class="table-bordered" ,new style="color:#4039f9">
                <dt>
                    @Html.Label("Umowy", new { style = "color:#4039f9" })
                </dt>
                @if (Model.Umowy.Count > 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Klient</th>
                                <th>Data podpisania</th>
                                <th>Data zakończenia</th>
                                <th>Opłata za miesiąc</th>
                            </tr>
                            @foreach (var item in Model.Umowy)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Klient.imieNazwisko)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataPodpisania)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataZakonczenia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cena) zł
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                }
                else
                {
                    <dt>
                        @Html.Label("Brak umów", new { style = "color:#D11919" })
                    </dt>
                }
            </dl>
        </div>
    </div>
</div>


<style type="text/cs">
    div.wrap {
        float: left;
        width: 500px;
    }

    img.show_hide {
        margin-left: auto;
        margin-right: auto;
    }

    .slidingDiv {
        width: 500px;
        display: none;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
    });
</script>
