@model Silownia.Models.Masazysta


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/infoCzynnosc.js")
@if (ViewBag.Akcja != null)
{
    if (ViewBag.Akcja != AkcjaEnumMasaz.Brak)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja)</h4>
            <br />
        </div>
    }
}
<html>

<body>
    @* Zdjecie *@
    <div class="col-xs-2" style="width:300px;height:380px;">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/70/Shawn_Tok_Profile.jpg" height="285" width="285">
    </div>
    @* Dane masażysty *@
    <div class="col-xs-3" style="border:solid; height:450px">
        <div style="text-align:right">DANE PERSONALNE</div>
        <h4>Imię:</h4><h3 style="color:aquamarine">@Model.Imie</h3>
        <br />
        <h4>Nazwisko:</h4><h3 style="color:aquamarine">@Model.Nazwisko</h3>
        <br />
        <h4>Data urodzenia:</h4><h3 style="color:aquamarine">@Model.DataUrodzenia.ToShortDateString()</h3>
        <br />
        <h4>Numer kontaktowy:</h4><h3 style="color:aquamarine">@Model.NrTelefonu</h3>
        <br />
    </div>
    @* Siłownia *@
    <div class="col-xs-4" style="border:solid; height:450px; min-width:340px;">
        <div style="text-align:right">SIŁOWNIA</div>
        <h4>Nazwa siłowni:</h4><h3 style="color:aquamarine">@Model.Silownia.Nazwa</h3>
        <br />
        <h4>Info:</h4><h3 style="color:aquamarine">@Model.Silownia.infoDodatkowe</h3>
        <br />
        <h4>Numer kontaktowy:</h4><h3 style="color:aquamarine">@Model.Silownia.NrTelefonu</h3>
        <br />
        <h4>Adres:</h4><h3 style="color:aquamarine">@Model.Silownia.Adres.Miasto, @Model.Silownia.Adres.Ulica @Model.Silownia.Adres.NrBudynku / @Model.Silownia.Adres.NrLokalu</h3>
        <br />
    </div>
    @* Szczegóły kontraktu *@
    <div class="col-xs-2" style="border:solid; width:300px; height:450px;">
        <div style="text-align:right">UMOWA Z PRACODAWCĄ</div>
        <h4>Zatrudnienie od:</h4><h3 style="color:aquamarine">@Model.DataZatrudnienia.ToShortDateString()</h3>
        <br />
        <h4>Pensja podstawowa:</h4><h3 style="color:aquamarine">@Model.Pensja zł</h3>
        <br />
        <h4>Stawka za godzinę pracy:</h4><h3 style="color:aquamarine">@Model.StawkaGodzinowa zł</h3>
        <br />

    </div>
    @* Najnowszy masaż *@
    <div class="col-xs-2" style="border: solid; width:300px; height:450px">
        <div style="text-align:right">NAJNOWSZY MASAŻ</div>
        @if (@Model.Masaze.FirstOrDefault() != null)
        {
            <h4>Data:</h4><h3 style="color:aquamarine">@Model.Masaze.Last().DataMasazu.ToShortDateString()</h3>
            <br />
            <h4>Godzina:</h4><h3 style="color:aquamarine">@Model.Masaze.Last().MasazStart.ToShortTimeString()</h3>
            <br />
            <h4>Klient:</h4><h3 style="color:aquamarine">@Model.Masaze.Last().Klient.imieNazwisko</h3>
            <br />
        }
        else
        {
            <h3 style="color:palevioletred">BRAK</h3>
        }

    </div>
    @* Moje masaże *@
    <div class="col-xs-2" style=" width:1000px; height:320px">
        <h3 style="text-align:center">Moje masaże</h3>
        @* Masaże *@
        <div class="wrap">
            <img class="show_hide" src="/Content/ikony/ikona_masaz.png" width="90" height="90">
            <div class="slidingDivON">
                <dl class="table-bordered" ,new style="color:#B8C932">
                    <dt>
                        @Html.Label("Zaplanowane masaże", new { style = "color:#B8C932" })
                    </dt>
                    @if (Model.Masaze.Count > 0)
                    {
                        <dd>
                            <table class="table">
                                <tr>
                                    <th>Klient</th>
                                    <th>Data masażu</th>
                                    <th>Godzina</th>
                                    <th>Czas trwania</th>
                                    <th>Całkowity koszt</th>
                                </tr>
                                @foreach (var item in Model.Masaze.Where(a => a.MasazStart.Day >= DateTime.Now.Day))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Klient.imieNazwisko)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataMasazu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MasazStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CzasTrwania)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.kosztMasazu) zł
                                        </td>
                                        <td>
                                            <button class="btn-danger btn-small" onclick="location.href='@Url.Action("UsunMasazyscieMasaz", "MasazystaView", new { id = item.MasazID })';return false;">Anuluj</button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </dd>
                    }
                    else
                    {
                        <dt>
                            @Html.Label("Brak zaplanowanych masaży", new { style = "color:#D11919" })
                        </dt>
                    }
                </dl>
            </div>
        </div>
    </div>
</body>
</html>


<style type="text/cs">
    div.wrap {
        float: left;
        width: 500px;
    }

    img.show_hide {
        margin-left: auto;
        margin-right: auto;
    }

    .slidingDiv {
        width: 500px;
        display: none;
    }

    .slidingDivON {
        width: 500px;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
    $('img.show_hide').on("click", function () {
        $('div.slidingDiv').stop().slideUp('fast');
        $('div.slidingDivON').stop().slideUp('fast');
        $(this).next('div.slidingDiv').stop().slideToggle('fast');
        $(this).next('div.slidingDivON').stop().slideToggle('fast');
    });
</script>