@model Silownia.Models.Konserwacja

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Konserwacja</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.KonserwacjaID)

        <div class="form-group">
            @Html.LabelFor(model => model.Opis_usterki, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis_usterki)
                @Html.ValidationMessageFor(model => model.Opis_usterki)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data_zgłoszenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_zgłoszenia)
                @Html.ValidationMessageFor(model => model.Data_zgłoszenia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data_naprawy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_naprawy)
                @Html.ValidationMessageFor(model => model.Data_naprawy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KonserwatorID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KonserwatorID)
                @Html.ValidationMessageFor(model => model.KonserwatorID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
