@model Silownia.Models.Masazysta
@{
    ViewBag.Title = "Masażyści: dodaj";
}
<h2>Dodaj nowego masażystę</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal divDark">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Imie, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Imie)
                    @Html.ValidationMessageFor(model => model.Imie)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nazwisko, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nazwisko)
                    @Html.ValidationMessageFor(model => model.Nazwisko)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DataUrodzenia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataUrodzenia)
                    @Html.ValidationMessageFor(model => model.DataUrodzenia)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pesel, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pesel)
                    @Html.ValidationMessageFor(model => model.Pesel)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NrTelefonu, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NrTelefonu)
                    @Html.ValidationMessageFor(model => model.NrTelefonu)
                </div>
            </div>
           
            <div class="form-group">
                @Html.LabelFor(model => model.Pensja, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pensja)
                    @Html.ValidationMessageFor(model => model.Pensja)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StawkaGodzinowa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StawkaGodzinowa)
                    @Html.ValidationMessageFor(model => model.StawkaGodzinowa)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SilowniaID, "Silownia", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SilowniaID", String.Empty)
                    @Html.ValidationMessageFor(model => model.SilowniaID)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Utwórz" class="btn btn-large btn-lg btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Masazysta")';return false;">Powrót do listy masażystów</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
