@model Silownia.Models.Masazysta

@{
    ViewBag.Title = "Masażysta: edycja";
}

<h2>Edycja wybranego masażysty:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OsobaID)

        <div class="form-group">
            @Html.LabelFor(model => model.Imie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie)
                @Html.ValidationMessageFor(model => model.Imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwisko, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwisko)
                @Html.ValidationMessageFor(model => model.Nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataUrodzenia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataUrodzenia)
                @Html.ValidationMessageFor(model => model.DataUrodzenia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pesel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pesel)
                @Html.ValidationMessageFor(model => model.Pesel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NrTelefonu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTelefonu)
                @Html.ValidationMessageFor(model => model.NrTelefonu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataZatrudnienia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataZatrudnienia)
                @Html.ValidationMessageFor(model => model.DataZatrudnienia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pensja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pensja)
                @Html.ValidationMessageFor(model => model.Pensja)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StawkaGodzinowa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StawkaGodzinowa)
                @Html.ValidationMessageFor(model => model.StawkaGodzinowa)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SilowniaID, "Siłownia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SilowniaID", String.Empty)
                @Html.ValidationMessageFor(model => model.SilowniaID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy masażystów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
