@model Silownia.Models.Sala
       

@{
    ViewBag.Title = "Sala: Dodaj";
}

<h2>Dodaj nową salę</h2>

@using (Html.BeginForm()) 
{
    <form name="datapluspics" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal divDark">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Rodzaj, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Rodzaj, new SelectList(new List<Object>
           {
                new { value = 0, text = "Fitness"},
                new { value = 1, text = "Aerobowa"},
                new { value = 2, text = "Wolne ciężary"},
                new { value = 3, text = "Crossfit"},
                new { value = 4, text = "Rehabilitacyjna"},
                new { value = 5, text = "Inna"}
           }, "text", "text"))
                @Html.ValidationMessageFor(model => model.Rodzaj)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Status, new SelectList(new List<Object>
           {
                new { value = 0, text = "czynna"},
                new { value = 1, text = "nieczynna"}
           }, "text", "text"))
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Opis)
                @Html.ValidationMessageFor(model => model.Opis)
            </div>
        </div>

          <div class="form-group">
            @Html.LabelFor(model => model.LiczbaOsob, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.LiczbaOsob)
                @Html.ValidationMessageFor(model => model.LiczbaOsob)
            </div>
        </div>

                @*
            <div class="form-group">
            @Html.LabelFor(model => model.SilowniaID, "Silownia", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("SilowniaID")
                @Html.ValidationMessageFor(model => model.SilowniaID)
            </div>
        </div>

                *@
        

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Utwórz" class="btn btn-lg btn-large btn-success" />
            </div>
        </div>
    </div>

 </form>
      if (Request.UrlReferrer != null)
    {
        <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="history.go(-1); return false;">powrót</button>
        <button class="btn btn-large btn-block btn-success btn-lg" onclick="location.href='@Url.Action("Index", "Sala")';return false;">Lista wszystkich sal</button>
    }
}
 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}