@model Silownia.Models.Sala

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwasz Sale</h2>
<div class="col-md-offset-2">
    <h3>Napewno chcesz usunąć tą sale?</h3>
</div>

<div class="col-md-offset-2">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-2">
            <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Sala", new { id = Model.Numer_sali })';return false;">usuń</button>
            <div class="col-md-3">
                <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Sala")';return false;">lista sal</button>
            </div>
        </div>
    }
</div>
