@model Silownia.Models.Sala

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły dotyczące sal</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">
       
        <dd>
            <img alt="no file" src="@Url.Content("/Sala/Zdjecie?id =" + Model.Zdjecie+ "&img=1")" />  
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Silownia.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silownia.Nazwa)
        </dd>
    </dl>
</div>
<div class="container col-md-offset-1 col-md-2" >
    <div class="active">
        <button class="btn-default btn-lg" onclick="location.href='@Url.Action("Edit", "Sala", new { id = Model.Numer_sali })';return false;">edytuj</button>
    </div>
</div>
<div class="container col-md-offset-3 col-md-2">
    <button class="btn btn-large btn-block btn-primary btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "Sala")';return false;">lista Sal</button>  
</div>
