@model PagedList.PagedList<Silownia.Models.Sala>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sala: index";
}
@Scripts.Render("~/Scripts/infoCzynnosc.js")

@if (ViewBag.Akcja != null)
{
    if (ViewBag.Akcja == Silownia.Helpers.AkcjaEnumSala.DodanoSale)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-success">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja) @ViewBag.info</h4>
            <br />
        </div>
    }

    if (ViewBag.Akcja == Silownia.Helpers.AkcjaEnumSala.UsunietoSale)
    {
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="alert alert-danger">
            <br />
            <h4>@PelnaNazwaEnum.GetDescription(@ViewBag.Akcja) @ViewBag.info</h4>
            <br />
        </div>
    }
}

<h2>Lista wszystkich sal w naszej sieci</h2>


<div class="divDark">
    @using (Html.BeginForm())
    {
        @Html.Partial("KryteriaSzukania/_silownia")
        @Html.Partial("KryteriaSzukania/_salaPrzeznaczenie")
        @Html.Partial("KryteriaSzukania/_statusSali")

        <br />
        <input type="submit" value="szukaj" class="btn btn-info" style="width:10%" />
        <br />
    }

</div>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.Label("Siłownia:")
        </th>
        <th>
            @Html.Label("Przeznaczenie:")
        </th>
        <th>
            @Html.Label("Numer Sali:")
        </th>
        <th>
            @Html.Label("Opis")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Silownia.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numer_sali)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn-primary btn-lg" onclick="location.href='@Url.Action("Details", "Sala", new { id = item.Numer_sali })';return false;">szczegóły</button>
                    <button class="btn-danger btn-lg" onclick="location.href='@Url.Action("Delete", "Sala", new { id = item.Numer_sali})';return false;">usuń</button>
                </div>
            </td>
        </tr>
    }
</table>

<div class="center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    Wyświetlam od @Model.FirstItemOnPage do @Model.LastItemOnPage z @Model.TotalItemCount rekordów Sal
</div>
